body{
    background-color: black;
    margin: 3rem;
    font-family: "Lexend", sans-serif;
}

.navbar{
   height: 3rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.1rem;
   font-weight: 100;
   background-color: #14160d;
   padding-top: .3rem;
   border-radius: 1rem;
}
#login{
    background-color:  #a0c03f;
    border-radius: 1rem;
    height: 1.9rem;
    padding-top: .3rem;
}
.signup{
    padding-top: .3rem;
}
.navcenter a{
    text-decoration: none;
    color:white ;
    padding: 0rem 1.5rem;
}

.navend{
    display: flex;
    justify-content:space-around;   
}

.navend a{
    padding: 0rem 1.4rem;
    text-decoration: none;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown:hover .dropdown-content {
    display: block;
    text-shadow: 0 0 11px #D1FF4C;
}
/* navbar ends */
.herosection{
    margin: 4rem 0rem;
    display: flex;
}
.heroleft{
    height: 68vh;
    width:50%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.heroleft img{
    height:3rem;
}

.heroleft h1{
    font-size: 3rem;
    font-weight: 200;
}
span{
    color: #D1FF4C;}

.heroleft p{
    font-size: 1.1rem;
    font-weight: 100;
}
.openaccount{
    background-color: #D1FF4C;
    color: black;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:8rem;
    height: 2.4rem;
    
}
.openaccount a{
    text-decoration: none;
    color: #000000;
}
.trans{
    color:white;
    width:25rem;
    height:16rem
    
}
.trans p{
    font-size: 1.7rem;  
}
.heroright{
    margin-left: 6rem;
}
.ex{
    color:white;
    width:25rem;
    height:3rem;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    
}
.exchange{
    margin-top: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D1FF4C;
    background-color: #2c311d ;
    border: solid;
    border-radius: .5rem;
    border-color:#2c311d ;
    height: 2.5rem;
}
.exex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.support{
    display: flex;
    margin: 1rem;
    height: 3rem;
}
.services{
    color: white;
   
}
.services h1{
    font-size: 3rem;
    font-weight: 200;

}

.services p{
    font-size: 1.1rem;
    font-weight: 100;
}
.servicecontent{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
}
.servicecontent p{
    color: white;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 200;
}

.box{
    transition: box-shadow .3s;
    height: max-content;
    width: 20rem;
    border-radius: .7rem;
}

.box:hover {
    box-shadow: 0 0 11px #D1FF4C;
  }

.opacity{
    opacity:1;
  }

.depositt{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.depo{
    width:40%;
    height:40vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.depo h4{
    font-size: 2rem;
    color: white;
}
.style {
    transition: box-shadow .3s; 
    width: 100%;
    padding: .7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #cdf45a;
}
.style:hover{
    background-color: #D1FF4C;
    box-shadow: 0 0 11px #D1FF4C;
}
.bank img{
    height: 3rem;
}
.withdraww{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.with{
    width:40%;
    height:40vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.with h4{
    font-size: 2rem;
    color: white; 
}

.inactive{
    display: none;
}

.active{
    display: block;
    color: #D1FF4C;
}

#dForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    
    font-size: 1rem;
    transition: box-shadow .3s;
    padding: .8rem 4rem;
    background-color: #040d10;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #D1FF4C;
    box-shadow: 0 0 11px #D1FF4C;
    color: #000000;
}


.words{
    font-size: 1rem;
    background-color: aqua;
}

#depositpopup{
    width:100%;
    height:60vh;
}

.form1 {
    background-color: #333;
    margin-top: 3rem;
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form1 label{
    margin-top: 1rem;
    color: white;
}
#mpin1{
    background-color: #cdf45a;
    border-style: solid;
    border-radius: .5rem;
    height: 2rem;
    width:14rem;
}

/* homee  */
#profile img{
width:2.3rem;
}

#profile img:hover {
box-shadow: 0 0 11px #D1FF4C;
width:2.4rem;
}

.hi{
    font-size: 2rem;
    color: #D1FF4C;
}
.balances
{
    color: white;
    font-size: 50px;
    padding: 100px;
    align-items: center;
}
/* withdrawmoney popup */

.with{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentsofform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.withdraw img{
    width: 4.5rem;
    height: 6rem;
}